<div class="slider-container">
    <div class="slider" id="revolutionSlider" data-plugin-revolution-slider data-plugin-options='{"startheight": 450}'>
        <ul>
            <li data-transition="fade" data-slotamount="10" data-masterspeed="300">
                <img src="img/slides/slide-bg-3.jpg" data-bgfit="cover" data-bgposition="right center" data-bgrepeat="no-repeat" alt="">
                <div class="tp-caption featured-label sft stb" data-x="center" data-y="175" data-speed="300" data-start="1500" data-easing="easeOutExpo"></div>
                <div class="tp-caption bottom-label sft stb" data-x="center" data-y="240" data-speed="500" data-start="2000" data-easing="easeOutExpo"></div>
            </li>
        </ul>
    </div>
</div>
<div class="home-intro">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <p>
                    Owned By <em>everyday people.</em>
                    <span>Sign-up to get your work car today!</span>
                </p>
            </div>
            <div class="col-md-4">
                <div class="get-started">
                    <a href="signup.html" class="btn btn-lg btn-primary">Get Started Now!</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row center">
        <div class="col-md-12">
            <h2 class="mb-sm word-rotator-title">
                                WorkCar is <strong>evolving</strong> the way the world <strong>drives</strong>.
                            </h2>
            <p class="lead">
                By giving drivers a flexible car lease for a variety of money
                <br> making apps, we make new job opportunities possible!
            </p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row center">
        <div class="col-md-12">
            <video width="540" height="240" controls poster="img/BigBuckBunny.png">
                <source src="#">
                <source src="#">
                <source src="#"> Your browser does not support the video tag or the file format of this video. <a href="http://www.webestools.com/">http://www.webestools.com/</a>
            </video>
        </div>
    </div>
</div>
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2 class="mt-lg">What is <strong>WorkCar?</strong></h2>
                <p class="lead">
                    No worries, No fuss, Always on.
                </p>
                <p class="mt-lg">
                    WorkCar provides its members with on-demand flexible master leases (includes gas, insurance, maintenance). WorkCars are configured at the dealership with fleet management hardware (smart card access) that is pre-integrated with the WorkCar fleet management cloud.
                </p>
            </div>
            <div class="col-md-6 mt-lg">
                <img class="img-responsive" src="img/device.png" data-appear-animation="fadeInRight" alt="">
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="featured-boxes">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="featured-box featured-box-primary featured-box-effect-1">
                    <div class="box-content">
                        <center><img class="img-responsive" src="img/icons/icon1.png" alt=""></center>
                        <h4 class="text-uppercase">FAST APPROVAL</h4>
                        <p>Need a fast way to work? With WorkCar the average onboarding process takes 3-4 days to complete for drivers with a clean record.</p>
                        <p><a href="http://workcar.com/register"> Sign-Up <i class="fa fa-angle-right"></i></a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="featured-box featured-box-secondary featured-box-effect-1">
                    <div class="box-content">
                        <center><img class="img-responsive" src="img/icons/icon2.png" alt=""></center>
                        <h4 class="text-uppercase">MOST DRIVERS QUALIFY</h4>
                        <p>Our approval process looks at your entire background - including your driving, criminal, and employment history. Not just your credit.</p>
                        <p><a href="http://workcar.com/register" class="lnk-secondary learn-more">  Sign-Up <i class="fa fa-angle-right"></i></a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="featured-box featured-box-tertiary featured-box-effect-1">
                    <div class="box-content">
                        <center><img class="img-responsive" src="img/icons/icon3.png" alt=""></center>
                        <h4 class="text-uppercase">INSURED & MAINTAINED</h4>
                        <p>All of our cars come with a full coverage insurance policy and bumper to bumper warranty built right into your car payment!</p>
                        <p><a href="http://workcar.com/register" class="lnk-tertiary learn-more">  Sign-Up <i class="fa fa-angle-right"></i></a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="featured-box featured-box-quaternary featured-box-effect-1">
                    <div class="box-content">
                        <center><img class="img-responsive" src="img/icons/icon4.png" alt=""></center>
                        <h4 class="text-uppercase">CAR SHARING MODE</h4>
                        <p>Whenever you're on vacation or don’t feel like driving just put your WorkCar in sharing mode, and let your vehicle pay for itself!</p>
                        <p><a href="http://workcar.com/register" class="lnk-quaternary learn-more">  Sign-Up <i class="fa fa-angle-right"></i></a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <hr class="tall">
        </div>
    </div>
    <div class="row center mt-xl">
        <div class="owl-carousel" data-plugin-options='{"items": 6, "autoplay": true, "autoplayTimeout": 3000}'>
            <div>
                <img class="img-responsive" src="img/logos/logo-1.png" alt="">
            </div>
            <div>
                <img class="img-responsive" src="img/logos/logo-2.png" alt="">
            </div>
            <div>
                <img class="img-responsive" src="img/logos/logo-3.png" alt="">
            </div>
            <div>
                <img class="img-responsive" src="img/logos/logo-4.png" alt="">
            </div>
            <div>
                <img class="img-responsive" src="img/logos/logo-5.png" alt="">
            </div>
            <div>
                <img class="img-responsive" src="img/logos/logo-6.png" alt="">
            </div>
            <div>
                <img class="img-responsive" src="img/logos/logo-7.png" alt="">
            </div>
            <div>
                <img class="img-responsive" src="img/logos/logo-8.png" alt="">
            </div>
            <div>
                <img class="img-responsive" src="img/logos/logo-9.png" alt="">
            </div>
            <div>
                <img class="img-responsive" src="img/logos/logo-10.png" alt="">
            </div>
            <div>
                <img class="img-responsive" src="img/logos/logo-11.png" alt="">
            </div>
            <div>
                <img class="img-responsive" src="img/logos/logo-12.png" alt="">
            </div>
        </div>
    </div>
</div>
<section class="call-to-action call-to-action-default with-button-arrow call-to-action-in-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="call-to-action-content">
                    <h3>Join <strong>WorkCar</strong> for the adventure of a <strong>lifetime.</strong></h3>
                    <p>We strive to provide our drivers with the most efficient and well maintained
                        <br> vehicles so we can make work less of a job and more of an adventure!</p>
                </div>
                <div class="call-to-action-btn">
                    <a href="http://workcar.com/register" target="signup.html" class="btn btn-lg btn-primary">Sign up</a><span class="arrow hlb hidden-xs hidden-sm hidden-md" data-appear-animation="rotateInUpLeft" style="top: -12px;"></span>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="js/theme.init.js"></script>
