<section class="content ">
    <div class="signup-wrapper">
        <img src="img/office-3.jpg" <section class="signup-form" style="padding-bottom: 60px; margin-left: -360px">
        <article class="form-container">
            <form name="ctrl.signupForm" ng-submit="ctrl.signup()" novalidate>
                <div class="form-group required ">
                    <label for="name">Name</label>
                    <div class="row form-row">
                        <div class="col-md-6 col-xs-6 md-push-right-half sm-push-right-half xs-push-right-half">
                            <input placeholder="First name" id="firstName" name="firstName" class="form-control" type="text" required ng-model="ctrl.newCustomer.firstName" ng-model-options="{ updateOn : 'default blur' }" ng-focus="ctrl.toggleUsernamePrompt(true)" ng-blur="ctrl.toggleUsernamePrompt(false)" />
                            <div class="my-messages">
                                <div class="prompt message-animation" ng-if="ctrl.showUsernamePrompt">
                                </div>
                            </div>
                            <div class="my-messages" ng-messages="ctrl.signupForm.firstName.$error" ng-if="ctrl.showMessages('firstName')">
                                <div class="message-animation" ng-message="required">
                                    <strong>This field is required.</strong>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-6 md-push-left-half xs-push-left-half">
                            <input id="lastName" placeholder="Last name" name="lastName" class="form-control" type="text" required ng-model="ctrl.newCustomer.lastName" ng-model-options="{ updateOn : 'default blur' }" ng-focus="ctrl.toggleUsernamePrompt(true)" ng-blur="ctrl.toggleUsernamePrompt(false)" />
                            <div class="my-messages">
                                <div class="prompt message-animation" ng-if="ctrl.showUsernamePrompt">
                                </div>
                            </div>
                            <div class="my-messages" ng-messages="ctrl.signupForm.lastName.$error" ng-if="ctrl.showMessages('lastName')">
                                <div class="message-animation" ng-message="required">
                                    <strong>This field is required.</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group js-mobile-country required mobile-number" ng-class="{'has-error':ctrl.hasErrorClass('mobilePhone')}">
                    <label for="mobile">Mobile Number</label>
                    <select name="mobile_country" id="mobile_country" class="js-mobile-country required">
                        <option value="US" label="United States (+1)" selected="" data-iso3="USA" data-telephone_code="+1">United States</option>
                    </select>
                    <div class="mobile-country-mask">
                        <p class="mobile-country-mask-text">+1</p>
                    </div>
                    <input class="form-control" type="tel" ng-model="ctrl.newCustomer.mobilePhone" required ng-model-options="{ updateOn : 'default blur' }" ng-focus="ctrl.toggleMobilePrompt(true)" ng-blur="ctrl.toggleMobilePrompt(false)" value="" name="mobilePhone" id="mobilePhone" placeholder="(415) 555-5555">
                    <div class="my-messages">
                        <div class="prompt message-animation" ng-if="ctrl.toggleMobilePrompt">
                        </div>
                    </div>
                    <div class="my-messages" style="z-index: -1;" ng-messages="ctrl.signupForm.mobilePhone.$error" ng-if="ctrl.showMessages('mobilePhone')">
                        <div class="message-animation" ng-message="required">
                            <strong>This field is required.</strong>
                        </div>
                    </div>
                    <div class="error-notice"></div>
                </div>
                <div class="form-group required" ng-class="{'has-error':ctrl.hasErrorClass('email')}">
                    <label for="email">Email</label>
                    <input id="email" name="email" placeholder="email@example.com" class="form-control" type="email" required ng-model="ctrl.newCustomer.email" ng-model-options="{ updateOn : 'default blur' }" ng-focus="ctrl.toggleEmailPrompt(true)" ng-blur="ctrl.toggleEmailPrompt(false)" />
                    <div class="my-messages">
                        <div class="prompt message-animation" ng-if="ctrl.showEmailPrompt">
                        </div>
                    </div>
                    <div class="my-messages" ng-messages="ctrl.signupForm.email.$error" ng-if="ctrl.showMessages('email')">
                        <div class="message-animation" ng-message="required">
                            <strong>This field is required.</strong>
                        </div>
                        <div class="message-animation" ng-message="email">
                            <strong>Please format your email correctly.</strong>
                        </div>
                    </div>
                </div>
                <div class="form-group required" ng-class="{'has-error':ctrl.hasErrorClass('password')}">
                    <label for="password">Password</label>
                    <input id="password" name="password" class="form-control" required type="{{ctrl.getPasswordType()}}" ng-model-options="{ updateOn : 'default blur' }" ng-model="ctrl.newCustomer.password" validate-password-characters/>
                    <div class="my-messages" ng-messages="ctrl.signupForm.password.$error" ng-if="ctrl.showMessages('password')">
                        <div class="message-animation" ng-message="required">
                            <strong>This field is required.</strong>
                        </div>
                    </div>
                    <div class="password-requirements">
                        <ul class="selfclear clearfix">
                            <li ng-class="{'completed':!ctrl.signupForm.password.$error.eightCharacters, 'has-error-text':ctrl.hasErrorClass('password')}">Eight characters minimum</li>
                        </ul>
                    </div>
                </div>
                <div class="alert alert-danger message-animation" style="margin-top: -25px;" role="alert" ng-if="ctrl.showSubmittedPrompt">
                    {{ctrl.showSubmittedErrors[0]}}
                </div>
                <p class="inline-block small-meta" style="margin-top: -25px;">By clicking this button, you agree to WorkCar's <a href="#" target="_blank">Terms &amp; Conditions</a>.</p>
                <div class="signup-form-section submit">
                    <div class="col-md-12">
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary js-submit enabled">CREATE ACCOUNT</button>
                        </div>
                    </div>
                </div>
            </form>
        </article>
</section>
